/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 1em;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #E74C3C;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #FF6347;
}

/* Responsive Design */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}


